.loadingExtern{
    width: 205px;
    height: 30px;
    background-color: #d4d4d4;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.loadingIntern{
    position: absolute;
    height: 100%;
    width: 40%;
    background: linear-gradient(to right,#d4d4d4, #f9f9f9 50%, #d4d4d4 );
    animation: loading 700ms linear infinite;
}

@keyframes loading{
    0%{
        left: 0%;
    }
    100%{
        left: 100%;
    }
}

@media(max-width: 600px){
     .loadingExtern{
         width: 100%
     }
}