.balanceMonth {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.balanceMonth .month {
  display: flex;
  justify-content: space-between;
}

.balanceMonth .month select {
  width: 200px;
  height: 50px;
  font-weight: 300;
  border-radius: 5px;
  padding: 0 5px;
}

.balanceMonth input.money {
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  background-color: #d4d4d4;
}
.balanceMonth input.money:focus {
  border: 1px solid #8a30e6;
}

.balanceMonth .column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.balanceMonth .row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  align-content: space-between;
}

.balanceMonth .row .debits,
.balanceMonth .row form {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: none;
}

.balanceMonth .row .debits table {
  width: 100%;
}

.balanceMonth .row .debits table td {
  font-size: 1.2rem;
}

.balanceMonth .row .debits table td:nth-child(3),
.balanceMonth .row .debits table th:nth-child(3) {
  background-color: inherit;
  box-sizing: border-box;
  width: 10px;
}

.balanceMonth .row .debits table td button {
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.balanceMonth .row.form {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  padding: 0 10px;
  /* justify-content: space-between; */
}

.balanceMonth .row.form .column:nth-child(1) {
  margin-right: 15px;
}

.balanceMonth h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
}

.balanceMonth h2 {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.balanceMonth form .inputColumn {
  margin: 5px 0;
}

.balanceMonth form .inputColumn label {
  font-weight: 600;
  margin-bottom: 2px;
}

.balanceMonth .sendButton {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}

.balanceMonth form button {
  border: none;
  padding: 5px 10px;
  background-color: #8a30e6;
  font-size: 1.1rem;
  border-radius: 5px;
  font-weight: 400;
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
  transition: 200ms;
}

.balanceMonth form button.include {
  background-color: #3b252c;
}

.balanceMonth form button:hover {
  background-color: #3f1669;
  color: #d4d4d4;
  font-weight: 500;
  align-self: flex-end;
}
.balanceMonth th {
  font-weight: 600;
  background-color: #3b252c;
  color: #f4f4f4;
  padding: 5px;
}
.balanceMonth td {
  background-color: #dedede;
  word-wrap: break-word;
  max-height: 50px;
}

.balanceMonth td span {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .balanceMonth .row {
    flex-direction: column;
  }
  .balanceMonth form .collectionInput {
    margin: 20px 0;
  }
  .balanceMonth form .sendButton {
    margin: 20px 5px;
  }
  .balanceMonth td {
    font-size: 1.2rem;
  }
}
