.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.labelInput{
    margin: 10px 5px;
}
.money{
    margin: 5px;
    width: 100px;
}
h1, h2{
    margin: 10px 5px;
    border-bottom: 1px solid #444;
    max-width: 300px;
}
